.profile__avatar-btn {
  position: absolute;
  background-image: url(../../../image/Avatar_edit.png);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.profile__avatar-btn:hover {
  opacity: 0.8;
}
